html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#chatroom {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.info {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  background-color: #f4f5f9;
}
.info .title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
}

.online_user .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.online_user .item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 10px;
  background-color: #f5f6fa;
  margin-top: 50px;
  overflow: auto;
}
.online_user {
  height: 100%;
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.online_user::-webkit-scrollbar {
  width: 1px !important;
}
.content::-webkit-scrollbar {
  width: 0 !important;
}

.input_wrapper {
  padding: 0 10px;
  background-color: #f4f5f9;
  height: 70px;
  width: 100%;
  border-radius: 0 0 12px 12px;
}

.message .actions {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}

.actions .image {
  width: 20px;
  height: 20px;
  position: relative;
}

.actions .image img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.actions .image #file {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.input_wrapper .input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_wrapper input {
  outline: none;
  border: none;
  border-radius: 14px;
  flex: 1;
  height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
}

.send {
  flex-basis: 50px;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-left: 5px;
  outline: none;
  border: 1px solid transparent;
  white-space: nowrap;
}

.login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(85, 85, 85, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.content .item {
  display: flex;
  margin-bottom: 5px;
}

.content .item .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.content__info {
  max-width: 500px;
}
.content__info .msg {
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 12px;
}
.content__info .username {
  color: #7f7f7f;
  font-size: 12px;
}
.content--center {
  justify-self: center;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  background-color: #e1e2e3;
  color: #777777;
  border-radius: 12px;
}

.content--left {
  align-self: flex-start;
}

.content--left .avatar {
  margin-right: 10px;
}

.content--right .avatar {
  margin-left: 10px;
}
.content--right {
  align-self: flex-end;
}

.content--right .content__info .msg {
  background: #12b7f5;
  color: #fff;
}

.content--right .content__info .username {
  text-align: right;
}

.send_img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.disconnect {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(51, 51, 51, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #fff;
}
